html{
font-family: monospace;
}

.extreme{

font-size: 30px;
color: purple;
font-style: italic;
}

#head1 {
font-size: 40px;
}


.navzone {
background-color: #B0C4DE;
width: 20%;
text-align: left;
font-size: 30px;
}

a{
color: black;
text-decoration: none;
}


 #tehlulz{
color: green;

}

ul {
list-style-type: none;

}

.content{
font-size: 26px;
background-color: #C0C0C0;

}